@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    height: 100%;
}

div {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 14px;
}

label {
    font-size: 14px;
}

.left_align {
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
}

.form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}
label {
    font-size: 20px;
}
input {
    min-width: 8em;
    height: 25px;
    width: 20px;
    padding: 0px 10px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

input:focus {
    outline:none;
    box-shadow: 0px 0px 12px 0.8px #0e81ce96;
}
.footer {
    margin-top: 1em;
}
.left_panel {
    width: 930px;
    height: 800px;
    overflow: scroll;
    float: left;
}

.building_block {
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    width: 30%;
    height: 100%;
    z-index: 99;
    padding: 17px 5px;
    border:1px solid #f00;
    position:fixed;
    right:0;top:0px;
    overflow: scroll;
}

.text {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    margin-right: 3em;
    margin-left: 3em;
}

.btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #FCE1E5;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.btn:hover {
    background-color: #2386c8;
}
.btn:focus {
    outline: none;
}

.alert {
    display: inline-block;
    font-size: 15px;
    color: red;
}
